* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: arial, sans-serif;
}

i {
  color: #5f6368;
}

.header {
  background-color: #282424;
}
.header .tab-top {
  display: flex;
  align-items: center;
}
.header .tab-top .tab-title {
  display: flex;
  justify-content: space-between;
  background-color: #38343c;
  width: 250px;
  margin: 0 10px;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.header .tab-top .tab-title a {
  color: white;
  padding-left: 5px;
}
.header .tab-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #38343c;
}
.header .tab-bottom .tab-direction {
  display: flex;
  flex-direction: row;
  width: 10%;
}
.header .tab-bottom .tab-direction i {
  margin: 0 5px;
}
.header .tab-bottom .tab-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282424;
  width: 75%;
  height: 30px;
  border-radius: 25px;
  padding: 10px;
}
.header .tab-bottom .tab-search input {
  width: 90%;
  background-color: #282424;
  color: white;
}
.header .tab-bottom .tab-hidden {
  display: flex;
  align-items: center;
  width: 10%;
}
.header .tab-bottom .tab-hidden button {
  height: 30px;
  border-radius: 25px;
  background-color: #282424;
  padding: 5px 10px;
  color: white;
  margin-right: 10px;
  font-size: 10px;
}
.header i {
  color: white;
}

.nav {
  margin-top: 30px;
}
.nav .nav-element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav .nav-element .nav-link {
  padding-right: 15px;
}
.nav .nav-element .nav-link a {
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.87);
}
.nav .nav-element .nav-icon {
  padding-right: 15px;
}
.nav .nav-element .nav-button {
  padding-right: 15px;
}
.nav .nav-element .nav-button a {
  background-color: #1a73e8;
  color: white;
  border: 1px solid transparent;
  padding: 9px 23px;
  border-radius: 4px;
}

.section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.section .content .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  min-width: 600px;
  padding: 0 7px 0 14px;
  margin-top: 20px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
}
.section .content .search:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.section .content .search .search-keyboard i {
  padding-right: 7px;
}
.section .content .search input {
  width: 80%;
}
.section .content .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.section .content .buttons .button {
  background-color: #f8f9fa;
  border-radius: 4px;
  margin: 0 4px;
  padding: 10px 16px;
}
.section .content .buttons .button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}
.section .content .buttons .button a {
  color: rgba(0, 0, 0, 0.87);
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  bottom: 0px;
}
.footer .footer-top {
  border-bottom: 1px solid #dadce0;
  padding: 15px 30px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}
.footer .footer-bottom a {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}/*# sourceMappingURL=main.css.map */