$nav-padding: 15px;
$text-color: rgba(0, 0, 0, 0.87);
$icon-color: #5f6368;
$header-color: #282424;
$header-color2: #38343c;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  outline: none;
  font-family: arial, sans-serif;
}
i {
  color: $icon-color;
}
.header {
  background-color: $header-color;
  .tab-top {
    display: flex;
    align-items: center;
    .tab-title {
      display: flex;
      justify-content: space-between;
      background-color: $header-color2;
      width: 250px;
      margin: 0 10px;
      border-radius: 10px 10px 0 0;
      padding: 10px;
      a {
        color: white;
        padding-left: 5px;
      }
    }
  }
  .tab-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $header-color2;
    .tab-direction {
      display: flex;
      flex-direction: row;
      width: 10%;
      i {
        margin: 0 5px;
      }
    }
    .tab-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $header-color;
      width: 75%;
      height: 30px;
      border-radius: 25px;
      padding: 10px;
      input {
        width: 90%;
        background-color: $header-color;
        color: white;
      }
    }
    .tab-hidden {
      display: flex;
      align-items: center;
      width: 10%;
      button {
        height: 30px;
        border-radius: 25px;
        background-color: $header-color;
        padding: 5px 10px;
        color: white;
        margin-right: 10px;
        font-size: 10px;
      }
    }
  }
  i {
    color: white;
  }
}
.nav {
  margin-top: 30px;
  .nav-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .nav-link {
      padding-right: $nav-padding;
      a {
        padding-right: $nav-padding;
        color: $text-color;
      }
    }
    .nav-icon {
      padding-right: $nav-padding;
    }
    .nav-button {
      padding-right: $nav-padding;
      a {
        background-color: #1a73e8;
        color: white;
        border: 1px solid transparent;
        padding: 9px 23px;
        border-radius: 4px;
      }
    }
  }
}
.section {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      min-width: 600px;
      padding: 0 7px 0 14px;
      margin-top: 20px;
      border: 1px solid #dfe1e5;
      border-radius: 24px;
      height: 44px;
      &:hover {
        box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
      }
      .search-keyboard i {
        padding-right: 7px;
      }
      input {
        width: 80%;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .button {
        background-color: #f8f9fa;
        border-radius: 4px;
        margin: 0 4px;
        padding: 10px 16px;
        &:hover {
          box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
          border: 1px solid #dadce0;
        }
        a {
          color: $text-color;
        }
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  bottom: 0px;
  .footer-top {
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
  }
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    a {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}
